@keyframes slide {
  0% {
    left: 0%;
    top: 0%;
  }
  50% {
    left: 50%;
    top: 100%;
  }
  100% {
    left: 100%;
    top: 0;
  }
}

.homepage-container:hover .ball {
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: .5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: 1000;
}
.ball {
  background: black;
  opacity: 0.3;
  border-radius: 55%;
  height: 55px;
  position: absolute;
  width: 55px;
}

.ball:hover{
  background: red;
  background-size: contain;
  opacity: 0.3;
  border-radius: 55%;
  height: 55px;
  position: absolute;
  width: 55px;
}

