@media only screen and (max-width: 500px) {
  
  h1 {
    color: red;
  }

  .navbar-container{
    display: none;
  }

  .mobile-navbar-hamburger{
    display: block;
  }

  .sidebar-container{
    width: 50px;
    height: 130px;
    /* right: 45%;
    top: 80vh; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

}