
.navbar-container{
  height: 12vh;
  width: 100vw;
  text-align: center;
  margin: 0px auto;
  display: flex; 
  justify-content: center;
  top: 0;
  position:fixed;
  font-size: 1.5vw;
  /* background-color: white; */
}

.navbar-options{
  height: 5vh;
  width: 10vw; 
  margin: 2vw;
  font-size: 1.2vw;
  color:black;
  font-size: 10pt;
}

.navbar-options:active{
  text-decoration: none;
}

a{
  text-decoration: none;
}

.navbar-options:hover{
  height: 6vw;
  animation-delay: 2s;
  border-top: 0.1vw black solid;
  padding-top: 1vw;
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
  width: 7vw; 
  text-decoration: none;
  font-size: 10pt;
}
/* 
.logo{
  background-image: url(https://i.pinimg.com/originals/86/b5/4f/86b54f0884580d18854c03872be1c369.jpg);
  width: 10vw;
  height: 10vw;
  background-size: contain;
  opacity: 0.6;
  border-radius: 50%;
  margin: 1vw 2vw;
  display: flex;
} */

/* -------------------- Mobile Functionality -------------------------- */



.mobile-navbar-hamburger{
  background: url(../images/Menu\ Icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  height: 10%;
  position: fixed;
  right: 5%;
  top: 5%;
  display: none;
}

