.resume-container{
  background-color: rgba(211, 220, 225, 1);
  height: 100vh; 
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-container h1{
  font-size: 28px;
}

.resume-container p{
  font-size: 12px;
}

.resume-container b{
  font-size: 12px;
}

.resume-container i{
  font-size: 12px;
}

.resume-grid{
  width: 80vw;
  height: 80vh;
  /* background: white; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.7fr 0.3fr;  
}

.resume-name {
  grid-row: 1 / 1;
  grid-column: 1 /1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 2%;
  padding: 1% 1%;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-bottom: black solid 1px;
}

.resume-photo{
  background-image: url(../images/resume.jpg);
  width: 30%;
  height: 100%;
  background-size: contain; 
  background-repeat: no-repeat;
}

.resume-experience{
  grid-row: 2 / 4;
  grid-column: 1 /1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 2% 2%;
  padding: 1% 1%;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-bottom: black solid 1px;
}

.resume-experience-container{
  height: 80%;
  width: 50%;
  margin-top: 4%;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resume-experience-tfa-icon{
  background-image: url(../images/TFA.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 15%;
  width: 15%;
  margin: 2%;
}

.resume-experience-sx-icon{
  background-image: url(../images/SX.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 15%;
  width: 15%;
  margin: 2%;
}

.resume-experience-gom-icon{
  background-image: url(../images/gom.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 15%;
  width: 15%;
  margin: 2%;
}

.resume-experience-rmit-icon{
  background-image: url(../images/RMIT.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 15%;
  width: 15%;
  margin: 2%;
}


.resume-experience-description{
  height: 27%;
  width: 70%;
}

.resume-interests{
  grid-row: 3 / 3;
  grid-column: 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2% 2%;
  padding: 3% 3%;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-bottom: black solid 1px;
}

.resume-education{
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2% 2%;
  padding: 3% 3%;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-bottom: black solid 1px;
}

.resume-education-container{
  height: 80%;
  width: 50%;
  margin-top: 4%;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resume-education-description{
  height: 27%;
  width: 70%;
}

.resume-education-ca-icon{
  background-image: url(../images/CA.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25%;
  width: 25%;
  margin: 2%;
}

.resume-education-rmit-icon{
  background-image: url(../images/RMIT.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25%;
  width: 25%;
  margin: 2%;
}


.resume-skills{
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2% 2%;
  padding: 3% 3%;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-bottom: black solid 1px;
}

.resume-skills-container{
  height: 80%;
  width: 95%;
  margin-top: 4%;
  padding: 0% 5% 0% 5%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
